<ion-header class="ca-new-header ca-home-header">
 
  <ion-toolbar>
    <span class="event-list-totalpage">
      <span class="ca-back">  <button ion-button navPop><ion-icon name="arrow-back"></ion-icon></button> </span>      
      <span class="dm-headertitle">Dream Cinemas  </span>
    </span>
  </ion-toolbar>
</ion-header>

<ion-content padding class="home blue-theme payment-cart-outer">
    <div class="home-innercontenpad login-page input-bottompadrdce">
        <div class="content-areabox2 event-category-list individual-category-page">
          <div class="ca-top-section-pad">
           <span class="payment-top-lft">
              <h1>{{ headtext }}</h1>            
              </span> 
          </div>
          <p *ngIf="loggedInfo" class="ca-successmsg" [innerHTML]="loggedInfo"> 
           </p>




    <ion-list inset class="ca-clear-block ca-top-firstpad" *ngIf="regissuccess != 1">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">

            <ion-item>
                <ion-label>Name</ion-label>
                <ion-input type="text"  [formControl]="myForm.controls['uname']" ></ion-input>
              </ion-item>
              <p *ngIf="!uname.valid && validate==''" danger required>Name is required</p>
              <p *ngIf="uname.hasError('required') && uname.touched" danger>Name is required</p>

          <ion-item>
            <ion-label>Email Address</ion-label>
            <ion-input type="text"  [formControl]="myForm.controls['uemail']" ></ion-input>
          </ion-item>
          <p *ngIf="!usremail.valid && validate==''" danger required>Email is required</p>
          <p *ngIf="usremail.hasError('required') && usremail.touched" danger>Email is required</p>
          <p *ngIf="!usremail.hasError('required') && !usremail.valid && usremail.touched && validate!=''" danger required>Invalid Email Address</p>
          <p *ngIf="!usremail.hasError('required') && !usremail.valid  && validate==''" danger required>Invalid Email Address</p>


          <ion-item>
              <ion-label>Phone Number</ion-label>
              <ion-input type="text"  [formControl]="myForm.controls['uphone']" ></ion-input>
            </ion-item>
            <p *ngIf="!usrphone.valid && validate==''" danger required>Phone Number is required</p>
            <p *ngIf="usrphone.hasError('required') && usrphone.touched" danger>Email is required</p>
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" [formControl]="myForm.controls['usrpassword']"></ion-input>
          </ion-item>
          <p *ngIf="!usrpassword.valid && usrpassword.touched && validate!=''" danger required>Password is required</p>
         <p *ngIf="!usrpassword.valid && validate==''" danger required>Password is required</p>
          <span class="login-btn">
          <button block >Register</button>
          </span>
        </form>
        
      </ion-list>

   
      <ion-list  inset class="ca-clear-block ca-top-firstpad" *ngIf="regissuccess == 1">         
    <p class="ca-successmsg2">You have succesfully registered a account in dreamcinemas.in. Please login to your account with your registered email ID and password to watch the movies.</p>
     <span class="login-btn">
     <button block (click) = "redirectologin()" >Login</button>
     </span>

     
    </ion-list>
  

   </div>
  </div>
  
  <div class="home-innercontenpad blue-theme ca-top-firstpad" *ngIf="regissuccess == 1" >
    <div class="content-areabox">

<ion-grid>
    <ion-row>
      <ion-col col-6>
        <img src="assets/slides/landingbg.jpg" class="imgslide2">
      </ion-col>
      <ion-col col-6>
        <img src="assets/slides/movie4.jpg" class="imgslide2">
      </ion-col>        
    </ion-row>
  </ion-grid>
</div>
</div>

</ion-content>
<ion-footer *ngIf="regissuccess == 1">
    <div class="txtbanner1">Get a Free Shirt on your subscription</div>    
  </ion-footer>